<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lienhe</servlet-name>
        <servlet-class>Controller.lienhe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tintuc</servlet-name>
        <servlet-class>Controller.tintuc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>product</servlet-name>
        <servlet-class>Controller.product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chitietSP</servlet-name>
        <servlet-class>Controller.chitietSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gioHang</servlet-name>
        <servlet-class>Controller.gioHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thongTinGioHang</servlet-name>
        <servlet-class>Controller.thongTinGioHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>giohang</servlet-name>
        <servlet-class>Controller.giohang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thongtingiohang</servlet-name>
        <servlet-class>Controller.thongtingiohang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chinhsua</servlet-name>
        <servlet-class>Controller.chinhsua</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>trangchu</servlet-name>
        <servlet-class>Controller.trangchu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>trangchu</servlet-name>
        <url-pattern>/trangchu</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dangnhap</servlet-name>
        <servlet-class>Controller.dangnhap</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>trangchu</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>lienhe</servlet-name>
        <url-pattern>/lienhe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tintuc</servlet-name>
        <url-pattern>/tintuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>product</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chitietSP</servlet-name>
        <url-pattern>/chitietSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gioHang</servlet-name>
        <url-pattern>/gioHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thongTinGioHang</servlet-name>
        <url-pattern>/thongTinGioHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>giohang</servlet-name>
        <url-pattern>/giohang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thongtingiohang</servlet-name>
        <url-pattern>/thongtingiohang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chinhsua</servlet-name>
        <url-pattern>/chinhsua</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
